body {
	background: black;
	background-image: url("../img/back2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 1000px;
	text-align: center;
	cursor:url("../img/hand.png"), auto;
	font-family: copperplate, serif;
}

h5 {
	color: white;
	background: black;
	opacity: .6;
	padding: 10px;
}

h4 {
	color: navy;
	text-shadow: 2px 2px white;
}

#title {
	display: inline-block;
	top: -100px;
	height: 150px;
}

#pokemon {
	margin: 0;
}

header {
	margin: 0;
	padding: 0;
	line-height: 10px;
	display: inline-block;
	width: 950px;
}

#intro {
	background: yellow;
	opacity: .75;
	width: 500px;
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	font-weight: lighter;
}

#gameBoard {
	display: inline-block;
	position: relative;
	top: 50px;
	width: 950px;
	margin: 0 auto;
}
	
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

#time {
	color: red;
	font-size: 20px;
}

.row {
	display: block;
	width: 100%;
	height: auto;
}

.hole {
	vertical-align: top;
/*	background-image: url("../img/topsoil-dirt.jpg");
*/	border-radius: 50%;
	width: 100px;
	height: 60px;
	display: inline-block;
	margin: 30px 65px;
}

.mew {
	position: fixed;
}

.mid {
	margin: 30px;
}

.flash {
	font-size: 40px;
	line-height: 40px;
	color: red;
	background: black;
	padding: 10px;
	opacity: .8;
	animation-name: flash;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes flash {
	from {color: red;}
	to {color: black;}
}

img {
	margin-top: -80px;
}

.gameOver {
	background: black;
	background-image: url("../img/movingCharizard.gif");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.tryAgain {
	/*background: black;*/
	background-image: url("../img/pikafight.gif");
	background-size: 100%
	background-repeat: no-repeat;
	height: 100%
	width: 100%;
}

.winner {
/*	background: black;
*/	background-image: url("../img/pikaWin.gif");
	background-size: 100%
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}