body {
	background-image: url("../img/Field-of-grass.jpg");
	text-align: center;
	cursor:url("../img/hand.png"), auto;
	font-family: copperplate, serif;
}

h1 {
	font-size: 48px;
	text-decoration: underline;
}

header {
	margin: 0;
	padding: 0;
	line-height: 10px;
	display: inline-block;
}

#gameBoard {
	display: inline-block;
	position: relative;
	top: 150px;
	width: 950px;
}

#start {
	font-size: 24px;
	background: green;
	color: white;
	border: 5px double black;
}

#start:hover {
	background: black;
}

#time {
	color: red;
	font-size: 20px;
}

.top {
	background-image: url("../img/topsoil-dirt.jpg");
	border-radius: 50%;
	width: 100px;
	height: 40px;
	display: inline-block;
	margin: 10px 50px;
}

.mid {
	background-image: url("../img/topsoil-dirt.jpg");
	border-radius: 50%;
	width: 125px;
	height: 50px;
	display: inline-block;
	margin: 25px 55px;
}

.bot {
	background-image: url("../img/topsoil-dirt.jpg");
	border-radius: 50%;
	width: 150px;
	height: 70px;
	display: inline-block;
	margin: 20px 80px;
}

.row {
	display: block;
	width: 100%;
	height: auto;
}

.hole {
	vertical-align: top;
}

.flash {
	font-size: 40px;
	color: red;
	animation-name: flash;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes flash {
	from {color: red;}
	to {color: black;}
}

img {
	margin-top: -80px;
}